.form-container {
  margin-left: 10em;
  margin-right: 10em;
}

.field-spacing {
  margin-left: 1em;
  margin-right: 1em;
}

.image-upload {
  border: 1em black;
  height: 15em;
  width: 15em;
  background: red;
}

.spacing-top {
  margin-top: 5em;
}

.card-size {
  height: 17em;
  width: 30em;
}
