.form-container {
  margin-left: 10em;
  margin-right: 10em;
}

.field-spacing {
  margin-left: 1em;
  margin-right: 1em;
}

.image-upload {
  border: 1em black;
  height: 15em;
  width: 15em;
  background: red;
}

.spacing-top {
  margin-top: 5em;
}

.card-size {
  height: 17em;
  width: 30em;
}

#app
  > div.application--wrap
  > div.v-card.v-card--flat.v-sheet.v-sheet--tile.theme--light
  > div
  > div.app-header__title.display-1.font-italic.white--text {
  font-family: 'Aclonica' !important;
}
